# Environments
.env
localhost.env
espaceco.env
naviforest.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

/dist
/node_modules
firebase-debug.log

# Fichier de config personnel
config.ini
config_*.ini
config-*.ini
test.ini
TODO.txt