.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--color-light-light);
}

/* Header */
.header {
  background-color: var(--color-dark-contrast);
	display: flex;
	align-items: stretch;
	padding-top: var(--safe-top, 0px);
}

.burgerButton {
	background-color: var(--color-primary);
	border: none;
	cursor: pointer;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.searchButton {
	background-color: var(--color-dark-contrast);
	border: none;
	cursor: pointer;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.burgerIcon {
	width: 24px;
	height: 24px;
}

.burgerIcon path {
	fill: var(--color-primary-contrast);
}

.searchIcon {
	width: 24px;
	height: 24px;
}

.searchIcon path {
	fill: var(--color-dark);
}

.title {
	flex: 1;
	text-align: center;
  align-self:center;
	font-size: 1.25rem;
	font-weight: 500;
	color: var(--color-dark);
}

/* Main content (map area) */
.main {
	flex: 1 1 auto;
	position: relative;
	display: flex;
	min-height: 0;
}

/* Map area */
.map {
	flex: 1;
	min-height: 0;
}

.map :global(.ol-scale-line) {
	bottom: 38px;
}

.map :global(.ol-attribution) {
	bottom: 0;
	right: auto;
	left: 0;
}

/* Copyright floating text */
.copyright {
  position: absolute;
	font-size: 0.55rem;
  padding: 0.25rem;
  bottom: 78px;
	left: 0.5rem;
	color: var(--color-medium);
	background: var(--color-dark-contrast);
	text-align: center;
	margin: 0.5rem auto;
  border-radius: 0.25rem;
}

/* Geolocation floating button */
.geolocationButton {
	position: absolute;
	bottom: 90px;
	right: 1rem;
	z-index: 100;
	width: 48px;
	height: 48px;
	background-color: var(--color-dark-contrast);
	border: none;
	border-radius: 100px;
	box-shadow: 0px 0px 8px 0px #00000029;
}

.geolocationIcon {
	width: 30px;
	height: 30px;
}

.geolocationIcon path {
	fill: var(--color-dark);
}

/* Onboarding highlight styles */
.highlighted {
	z-index: 1001;
}