.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--color-light-light);
}

/* Header */
.header {
  background-color: var(--color-dark-contrast);
	display: flex;
	align-items: stretch;
	padding-top: var(--safe-top, 0px);
}

.burgerButton {
	background-color: var(--color-primary);
	border: none;
	cursor: pointer;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.searchButton {
	background-color: var(--color-dark-contrast);
	border: none;
	cursor: pointer;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.burgerIcon {
	width: 24px;
	height: 24px;
}

.burgerIcon path {
	fill: var(--color-primary-contrast);
}

.title {
	flex: 1;
	text-align: center;
  align-self:center;
	font-size: 1.25rem;
	font-weight: 500;
	color: var(--color-dark);
}

/* Main content (map area) */
.main {
	flex: 1;
	position: relative;
}

/* Dev logout button */
.logoutButton {
	position: absolute;
	bottom: 80px;
	right: 1rem;
	z-index: 100;
}
