.container {
  margin-top: 40%
}

.description {
  text-align: center;
  margin-top: 40px;
}

.select {
	width: 100%;
	padding: 15px 10px;
	border: 1px solid var(--color-light);
}

.validateButtonContainer {
  text-align: center;
  margin-top: 30px;
}

.validateButton {
	width: 80%;
	margin: auto;
}

.error {
	color: var(--color-error);
	font-size: var(--font-size-sm);
}

.empty {
	color: var(--color-text-secondary);
	text-align: center;
}
