.container {
  margin-top: 1.75rem;
}

.content {
  max-width: 600px;
  margin: 0 auto;
}

.loadingContent {
  min-height: 70dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.field {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-top: 0.75rem;
}

.forgotPasswordLinkContainer {
	margin-bottom: 2rem;
}

.submitButton,
.continueWithoutAccountButton {
	width: 80%;
	margin: auto;
}

.register {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
