.slideUpPage {
	position: fixed;
	inset: 0;
	transform: translateY(100%);
	transition: transform 0.3s ease-out;
	z-index: 100;
	overflow-y: auto;
}

.slideUpPageVisible {
	transform: translateY(0);
}

.slideUpPageInner {
	min-height: 100%;
	background-color: white;
}
