input {
  padding: 0.75rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--color-light-shade);
  font-size: 1rem;
  transition: border-color 0.2s;
}

input:focus {
  outline: none;
  border-color: var(--color-primary);
}

input::placeholder {
  color: var(--color-medium);
  font-weight: 600;
}