.container {
  margin-top: 1.75rem;
	padding: 25px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.field {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-top: 0.75rem;
}

.forgotPasswordLinkContainer {
	margin-bottom: 2rem;
}

.submitButton,
.continueWithoutAccountButton {
	width: 80%;
	margin: auto;
}

.register {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.registerLink {
	font-style: normal !important;
	font-weight: 600;
}
