.externalLink {
  display: inline;
  color: var(--color-primary);
  text-decoration-thickness: 2.5px;
  text-underline-offset: 0.5rem;
}

.icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: middle;
}

